In [3]:
import pandas as pd
df = pd.read_csv('data/test3.csv')
df

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2
5  a   1   1

In [ ]:
# 중복된 데이터는 삭제를해줘야함 (중복되는 데이터가 있을 수가 없다)

In [4]:
df.duplicated() # 중복데이터 있는지 확인

0    False
1     True
2    False
3    False
4    False
5     True
dtype: bool

In [5]:
df.duplicated().sum() # 중복된 데이터 몇개인지 확인

2

In [7]:
df.drop_duplicates(inplace = True ) # 삭제

In [8]:
df

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [ ]:
# 인덱스 순서대로 다시 맞춰줘야함

In [9]:
df.reset_index(drop = True)

  c1  c2  c3
0  a   1   1
1  b   1   2
2  a   2   2
3  b   2   2